@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<head>
    <style>
        body {
            background-color: powderblue;
        }

        p {
            font-size: 90%;
        }
    </style>
</head>
<body>
    <div>

        <p>
            KhumaloCraft Emporium values your privacy and is dedicated to ensuring the confidentiality and security of your personal information. This Privacy Policy serves to elucidate our practices concerning the collection, utilization, disclosure, and safeguarding of information when you engage with our e-commerce platform.
        </p>
        <h3>
            Data Collection
        </h3>
        <p>
            Our data collection encompasses various categories, including but not limited to:
            Personal Information: When you establish an account, make a purchase, or interact with our platform, we may gather details such as your name, email address, shipping address, and payment particulars.
            Usage Information: We collect data regarding your interactions with our platform, encompassing browsing history, viewed products, and preferences, to tailor your experience and enhance our services.
            Device Information: Automatically, we collect information about your device, including IP address, device type, browser details, and geolocation data, to ensure platform security and functionality.
        </p>
        <h3>
            Utilization of Data
        </h3>
        <p>
            The data we collect serves multifaceted objectives:

            Order Fulfillment and Communication: Your personal data is indispensable for processing orders, facilitating payments, and delivering requested products and services.
            Personalization and Enhancement of Experience: We utilize your browsing and purchase history to customize product recommendations, promotions, and content according to your preferences.
            Communication Regarding Orders and Promotions: Transactional emails, such as order confirmations and shipping updates, are sent, along with marketing communications about new products, promotions, and events.
            Analysis of Trends and User Behavior: Data is aggregated and analyzed to comprehend user interactions with our platform, identify trends, and refine our products and services.
        </p>
        <h3>
            Data Security Measures
        </h3>
        <p>
            We employ robust measures to safeguard your personal information against unauthorized access, alteration, disclosure, or destruction. These measures encompass encryption, secure server infrastructure, access controls, and routine security audits. However, it is important to note that no method of transmission over the Internet or electronic storage is entirely secure, and absolute security cannot be guaranteed.
        </p>
        <h3>
            Information Sharing Practices
        </h3>
        <p>
            Your information may be shared with reputable third-party service providers, such as payment processors, shipping companies, and marketing partners, solely to facilitate order fulfillment, payment processing, and distribution of promotional content. We affirm that we do not sell or lease your personal information to third parties for marketing purposes without your explicit consent.
        </p>

    </div>
</body>
